.Feature{
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.Feature .featureWrapper{
    z-index: 2;
    position: relative;
}

.Feature .featureWrapper::before{
    content: "";
    position: absolute;
    background: linear-gradient(94deg,#9b51e0 2.84%,#3081ed 99.18%);
    opacity: .5;
    height: 400px;
    left: 0;
    right: 0;
    filter: blur(70px);
    z-index: -2;
}
.featureWrapperContent{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.featureText {
    display: flex;
    flex-direction: column;
    font-size: 27px;
    gap: 1rem;
}
.featureText h2{
    color:#fff;
    font-size: 48px;
    font-weight: 500;
}
.featureText p{
    font-size:24px;
    font-weight:400;
    color:#E2E2E2;
}
.cardsContent{
    display: flex;
    gap: 5rem;
}
.divisaoUm{
    display: flex;
    gap: 5rem;
}
.divisaoDois{
    display: flex;
    gap: 5rem;
}
.featureCardDiv{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.icons{
    padding: 40px;
    border-radius: 26px;
    background: #ffffff17;
    box-shadow: -3.013px 3.013px 3.013px #ffffff63 inset, 2.01px -2.01px 20px #d6d6d62b inset;
    -webkit-backdrop-filter: blur(37.21466827392578px);
    backdrop-filter: blur(37.21466827392578px);
}

.icons:hover:hover{
    transition: .5s cubic-bezier(.075,.82,.165,1) ease-in-out;
    transform: scale(1.06);
}

.featureCardsText h2{
    max-width: 18ch;
    font-size: 1rem;
    font-weight: 400;
    color: #d6d6d6;
}

@media(max-width: 600px){
    .cardsContent{
        flex-direction: column;
    }
}