  .Header .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headerNav .ulNav {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }
  .navLiDiv{
    display: flex;
    gap:2rem;
  }
  .navLiDiv2{
    display: flex;
    gap: 3rem;
    padding-left: 7rem;
  }
  .navLi .linksMenuLi {
    color: #D7D7D7;
    font-size: 12px;
    font-weight: 500;
  }
  .ulNav .navLi .linksMenuLi:hover {
    color: #ED1C24;
    transition: 0.3s ease-in-out;
  }
  .loginBtn{
    font-size: 12px;
    font-weight: 500;
    color: #D7D7D7;
    padding: 8px 36px;
    border: 2px solid #D7D7D7;
    border-radius: 10px;
  }
  .loginBtn:hover{
    background-color: #ED1C24;
    border:2px solid #ED1C24;
  }
  .cadastroBtn{
    color: #D7D7D7;
    font-size: 12px;
    font-weight: 500;
  }
  .cadastroBtn:hover{
    color: #ED1C24;
  }
  #buttonMobile {
    display: none;
  }
  
  @media (max-width: 600px) {
    /* / Menu mobile */
    .headerNav {
      display: none;
    }
    #menuIcons {
      width: 20px;
      height: 20px;
    }
  
    #buttonMobile {
      display: block;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      cursor: pointer;
      height: 28px;
      width: 28px;
    }
  
    .active .headerNav{
      height: 70vh;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 110px;
      width: 90%;
      background-color: #000000c5;
    }
    .navLiDiv{
        flex-direction: column;
    }
    .navLiDiv2{
        flex-direction: column;
        padding-right: 7rem;
    }

    .ulNav .navLi {
      padding: 1rem;
    }
    .active .ulNav {
      flex-direction: column;
      align-items: center;
      padding: 0 1rem;
    }
    /* // Menu mobile */
  }
  